{
  "presets": ["react-native", "babel-preset-expo", "react-native-dotenv"],
  "retainLines": true,
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
