{
  "presets": [
	"module:react-native", 
	"react-native", 
	"@babel/preset-env",
	"module:babel-preset-expo",
	"babel-preset-expo", 
	"react-native-dotenv", 
	"module:react-native-dotenv", 
	"@babel/preset-flow", 
	"module:metro-react-native-babel-preset"
	],
  "retainLines": true,
  "env": {
    "development": {
      "plugins": ["@babel/transform-react-jsx-source", "transform-react-jsx-source"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}